<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align:center; margin-top:40px;">
  <h4>Display Restaurant Details Here</h4>

</div>
<div class="col-sm-12 col-xl-11">
                        <div class="bg-light rounded h-100 p-6">
<!--                            <h6 class="mb-4">Color Table</h6>-->
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Restaurant Name</th>
                                        <th scope="col">Place</th>
                                        <th scope="col">Star Rating</th>
                                        <th scope="col">Rate</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Editing Option</th>
                                        <th scope="col">Deleting Option</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in disp %}
                                    <tr>
                                        <td>{{i.Rest_name}}</td>
                                        <td>{{i.Place}}</td>
                                        <td>{{i.Star_rating}}</td>
                                        <td>{{i.Rate}}</td>
                                        <td>{{i.Description}}</td>
                                        <td>{{i.Contact_No}}</td>
                                        <td>
                                            <img src="{{i.Image.url}}" width="100px" height="100px">
                                        </td>
                                        <td>
                                            <form action="{% url 'edit_restaurant' dataid=i.id %}">
                                                <button type="submit" class="btn btn-outline-primary m-2">Edit</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form action="{% url 'remv_restaurant' dataid=i.id %}">
                                                <button type="submit" class="btn btn-outline-danger m-2">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
<!--                                    <tr>-->
<!--                                        <th scope="row">2</th>-->
<!--                                        <td>Mark</td>-->
<!--                                        <td>Otto</td>-->
<!--                                        <td>mark@email.com</td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <th scope="row">3</th>-->
<!--                                        <td>Jacob</td>-->
<!--                                        <td>Thornton</td>-->
<!--                                        <td>jacob@email.com</td>-->
<!--                                    </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
            <script>
                swal('{{i}}','','warning')
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}','','error')
            </script>
        {% elif i.tags == 'success' %}
             <script>
                swal('{{i}}','','success')
            </script>
        {% else %}
             <script>
                swal('{{i}}','','info')
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>
{% endblock %}